aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.8.1
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backports.zoneinfo==0.2.1
Brotli==1.0.9
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
frozenlist==1.2.0
idna==3.3
importlib-metadata==4.10.0
loguru==0.5.3
multidict==5.2.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.1
pycares==4.1.2
pycparser==2.21
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.0
six==1.16.0
tomli==1.2.3
typed-ast==1.5.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
yarl==1.7.2
zipp==3.7.0
